@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-violet-russian: #3A015C;
  --color-violet-russian-mid: #32004F;
  --color-violet-russian-dark: #220135;
  --color-violet-dark: #190028;
  --color-violet-dark-darker: #11001C;

  --color-mauve: #CAA8F5;
  --color-tropical-indigo: #9984D4;
  --color-tekhelet: #592E83;
  --color-tekhelet-dark: #230C33;
}

:root {

  --bg-color: #E5E5E5; /* gray-200 */
  background-color: var(--bg-color);

}

@media (prefers-color-scheme: light) {

}
